
<div>
  <h1>メモ一覧</h1>
</div>
<div>
  <a href = "">新規作成する</a>
</div>
<div>
  <table>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
    <%# サンプルデータ %>
    <tr>
      <td>タイトル1</td>
      <td>内容1</td>
      <td>2024-08-01 00:00:00</td>
      <td>2021-08-01 00:00:00</td>
      <td><a href = "">編集</a></td>
      <td><a href = "">削除</a></td>
    </tr>
    <tr>
      <td>タイトル2</td>
      <td>内容2</td>
      <td>2024-08-01 00:00:00</td>
      <td>2024-08-01 00:00:00</td>
      <td><a href = "">編集</a></td>
      <td><a href = "">削除</a></td>
    </tr>
  </table>
</div>