
<div>
  <h1>メモを新規作成する</h1>
</div>
<div>
  <form method="post" action="/memos">
    <div>
      <label>タイトル</label>
      <input type="text" name="title">
    </div>
    <div>
      <label>内容</label>
      <textarea name="content"></textarea>
    </div>
    <div>
      <button type="submit">保存する</button>
    </div>
  </form>
</div>
