<h1>新規メモ作成</h1>
<form action="/memos" method="post">
  <div>
    <label for="title">タイトル:</label>
    <input type="text" name="title">
  </div>
  <div>
    <label for="content">内容:</label>
    <textarea name="content"></textarea>
  </div>
  <button type="submit">保存</button>
</form>
<a href="/memos">一覧へ戻る</a>

