<h1><%= h(@memo['title']) %></h1>
<p class="memo-content"><%= h(@memo['content']) %></p>

<div>
  <form action="/memos/<%= h(@memo['id']) %>/edit" method="get" class="inline-form">
    <button type="submit">編集する</button>
  </form>
  <form action="/memos/<%= h(@memo['id']) %>/delete" method="post" class="inline-form">
    <button type="submit">削除</button>
  </form>
</div>
<a href="/memos">一覧に戻る</a>
