<h1><%= h(@memo['title']) %></h1>
<div class="memo-content">
  <%= h(@memo['content']) %>
</div>
<a href="/memos" class="button">一覧に戻る</a>
<form action="/memos/<%= @memo['id'] %>/edit" method="get" class="inline-form">
  <button type="submit" class="button">編集する</button>
</form>
<form action="/memos/<%= @memo['id'] %>" method="post" class="inline-form">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="button button-danger">削除</button>
</form>
